body {
  font-family: sans-serif;
  float: left;
}

.octocat img {
  width: 370px;
  border: 1.5px solid #CFCFCF;
  margin: 5px;
  border-radius: 5px;
  margin-bottom: -15px;
}

.authors img {
  width: 25px;
  float: right;
  border: none;
  padding-right: 1px;
  margin: 0px 0px 5px 5px;
}

.authors {
	display: inline-block;
	float: right;
	padding-left: 5px;
}

.octocat {
  float: left;
  margin: 5px;
}

ul {
  list-style: none;
  float: right;
  font-weight: bold;
}

.image-number::before {
  content: "#";
}

.image-number {
	color: silver;
	font-size: 14px;
}

.image-caption {
	float: right;
	color: gray;
	font-size: 14px;
}

.image-caption a {
	color: black;
	text-decoration: none;
}

.image-footer {
	height: 25px;
	border-bottom: 1.5px solid #CFCFCF;
	position: relative;
	margin: 15px 15px 0px 0px;
	padding: 6px;
}

.image-caption::before {
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	margin-right: 8px;
	border-width: 8px 7px 0 6px;
	border-color: #CFCFCF  transparent transparent transparent;
	margin-top: -10px;
	margin-right: -12px;
	float: right;
}